.pic {
    height: 400px;
    position: relative;
    left: 415px;
}

.box {
    height: 250px;
    width: 100%;
    background-color: #FB9480;
    position: absolute;
    top: 378px;
}

h1 {
    font-family: "Bodoni Moda";
    font-style: normal;
    color: white;
    font-size: 50px;
    position: absolute;
    left: 200px;
}

p {
    font-family: Incosolata,monospace;
    color: #354248;
    font-size: xx-large;
    position: absolute;
    left: 200px;
    top: 85px;
}

.Ashe {
    position: absolute;
    left: 1100px;
    top: 195px;
    font-size: 20px;
}

@media (max-width: 721px) {
    .pic {
        height: 125px;
        left: 129px;
    }

    .box {
        height: 90px;
        top: 118px;
    }

    h1 {
        font-size: 15px;
        left: 62px;
    }

    p {
        font-size: small;
        left: 62px;
        top: 26px;
    }

    .Ashe {
        left: 344px;
        top: 61px;
        font-size: 6px;
    }
}

@media (max-width: 375px) {
    .pic {
        height: 95px;
        left: 101px;
    }

    .box {
        height: 80px;
        top: 100px;
    }

    h1 {
        font-size: 12px;
        left: 55px;
    }

    p {
        font-size: x-small;
        left: 55px;
        top: 20px;
    }

    .Ashe {
        left: 285px;
        top: 55px;
    }
}
