body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .container {
    width: 100%;
    display: grid;
    place-items: center;
  }
  
  .img.pic {
    height: auto;
    display: block;
  }
  
  .container.box {
    background-color: #FB9480;
    display: grid;
    align-items: start;
    padding: 20px;

  }
  
  .container.box h1 {
    font-family: 'Bodoni Moda', serif;
    color: white;
    margin-left: 30px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-column: 1 / 2;
  }
  
  .container.box p:not(.Ashe) {
    font-family: "Incosolata", "monospace";
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-column: 1 / 2;
  }
  
  .container.box p.Ashe {
    grid-column: 2 / 3;
    font-family: "Incosolata", "monospace";
    justify-self: end;
    font-size: 0.8rem;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .container.box .items{
    grid-column: 1 / 3;
  }
